---
import ProjectCard from "../ProjectCard/index.astro";
import img from '../../lib/bbu.png';
import skillicon1 from '../../lib/icons/oraclewms.png';
import skillicon2 from '../../lib/icons/Python-Light.svg';

const image = [
  { img: img },
  { skillicon1: skillicon1 },
  { skillicon2: skillicon2 },
]
---

<ProjectCard colSpan="md:col-span-1" rowSpan="md:row-span-2" img={image[0]?.img?.src}, opac="0.7" backpos="center" skillicon1={image[1]?.skillicon1?.src} skillicon2={image[2]?.skillicon2?.src} desc='"Implemented & led training on Oracle WMS. Developed a resource optimization program"'>

  <div class="flex justify-between w-full items-start mb-2">
    <div class="flex flex-col">
      <h2 class="text-xl font-bold m-0 z-20">Bimbo Bakeries</h2>
      <h2>Oracle WMS</h2>
      <a href="https://sive.rs/nowff" target="_blank">
        <!--<span class="text-xs text-gray-500 cursor-pointer">what's that ?</span> -->
      </a>
    </div>
  </div>
  <p class="text-xs"></p>
</ProjectCard>
