---
import ProjectCard from "../ProjectCard/index.astro";
import img from '../../lib/employeeattrition.png';
import skillicon1 from '../../lib/icons/Python-Light.svg';

const image = [
  { img: img },
  { skillicon1: skillicon1 },
]
---

<ProjectCard colSpan="md:col-span-1" rowSpan="md:row-span-2" img={image[0]?.img?.src} backpos="center" opac="0.6" skillicon1={image[1]?.skillicon1?.src} desc='"Developed KNN, Neural Network, SVM models to predict employee attrition & recommend improvements"' href="/blog/employeeattrition">
  <div class="flex justify-start w-full items-start mb-2">
    <div class="flex flex-col">
      <h2 class="text-xl font-bold m-0 z-20">Employee Attrition</h2>
      <h2>Machine Learning Prediction</h2>
      <a href="https://sive.rs/nowff" target="_blank">
      </a>
    </div>
  </div>
</ProjectCard>
